@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
 
main h2,h3 {
     font-family: 'Spectral SC', serif;
    font-size:25px;}
    
main figure { }
main figure img { width: 100%;
    max-width: 1000px;}

    
/*---grid container--*/

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;

}

div{}

/*---end grid container--*/
    
.forecast{

        margin-top: 100px;
    }
    




article{
    clear: both;
    }
    
  article p.town-article img { width: 29.333%; }
 
    
    
    
}