@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
 
 h2, h3, p {
        font-size: 1.5em;
    }      
    
main figure { }
main figure img { width: 100%;
    max-width: 1000px;}

    

/*---------article--------------*/

.flexbox2
{
    display: flex;
    flex-direction:row;
    align-items: center;
}
    
article div.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    width: 90%;/* fill the page in the small/phone view */
    
 

}
        
article div.town-article p { 
  

}
