/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */


body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background:   #e9f2fb;
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
 /*max-width: 37.5em;*/
}


header {
    /*background-color: #154d7c;*/
    background-color: #005580;
    font-size: 12px;
    padding: 1em 0 1em 0;
}
header h1 {
    font-family: 'Spectral SC', serif;
    margin-left: 0px;
    margin-top: 5px;
    top: 0px; 
    color: whitesmoke;
}
header img {
    float: left;
    margin-top: -20px;
}
header .subheading {
    margin-left:190px;
    margin-top: -20px;
    color: #d5e597;
}



/*-------HAMBURGUER---*/
.hamburger { display: block;position: absolute;top: 1.5rem;right: 1.50rem; background-color: #005580; color: #f1f1f1; 
}
.navigation {    font-family: 'Rajdhani', sans-serif; margin-top: 50px; list-style: none; padding-left: 0; }
.navigation li { display: none; }

/* 2nd part*/

.navigation.responsive { position: relative; }
.navigation.responsive li { background-color: #c7dce3; display: block; width: 100%; margin: 0px; border: 1px solid #ddd; }
.navigation.responsive li a { padding: 1rem;  color: #1d3549; text-align: center ; display: block; text-decoration:none solid #1d3549; }
.navigation.responsive li a:hover { background-color: #B5CDE1; }


/*-------HAMBURGUER---*/


/*--------------------section FlexItem---------------------------*/

main {
    margin-top: 60px;
    text-align: center;
    color: #1d3549;
}
main figure { margin: 0 0 .2rem 2%; width:96%;  }
main figure img { width: 100%; }

.container{
        box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    border: 1px solid #4F88B8;
    margin: 60px 10px 3rem 2%;
    padding: 3em;
    background-color: #c7dce3;
}

/*--------------------article-----------------------------*/

article{

    border: 1px solid #4F88B8;
    flex-direction: column;
    text-align: left;
    margin: 60px 10px 3rem 2%;
    padding: 3em;
    

    box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2);
}
    
}
article h3{
    text-align: center;
}
article div{
    margin: 0 0 2% 2%; 
}

article div.town-article img {  /* fits the picture */
  width: 98%; /* fill the page in the small/phone view */
  margin: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
    
}

/*--------------------footer------------------------------*/

footer {margin-top: 10px;
    display: block;
    clear: center;
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #005580;
    color: aliceblue;
    font-family: 'Rajdhani', sans-serif;
    padding: 1em 0 1em 0;
    font-size:  smaller ;}
footer aside {
    position: relative;
        margin-left: 5px;
}
footer p{
    margin-left: 5px;
}
 /* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */