/* || general styles */

html {
font-family: 'Mina', sans-serif;
}


h2{
    color:#1d3549;
  margin-left: 5px;
}

h4{
    margin-top: -20px;
    margin-left: 25px;
    color:aliceblue;
}

article{
    background-color: #B5CDE1;
    color: #1d3549;
}
section p {
  margin: 5px 0;
  margin-left: 6px;
}

section ul {
  margin-top: 0;
 font-size: 14px;
}